.main1{
  display:flex;
  justify-content:space-between;
  margin:10px auto;
  width:1000px;
}
.search{
  display:flex;
  padding-top:50px;
}
#search1{
  width:250px;
  height:40px;
  border-top-left-radius:15px;
  border-bottom-left-radius:15px;
  outline:none;
  padding-left:5px;
}
.main1 #button{
  background:rgb(245,75,101);
  height:38px;
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
  width:40px;
  border:none;
  padding:4px;
}
#search1:focus{ 
 border:2px solid red; 
 } 
 .register{
  display:flex;
  padding-top:60px;
 }
 .register a,span{
   text-decoration:none;
   font-family:"宋体";
   font-size:20px;
   font-weight:bold;
   color:rgb(245,75,101);
   padding:5px 10px;
 }
 .register a:hover{
   background:rgb(245,75,101);
   color:white;
   height:30px;
   border-radius:8px;
 }
.hide{
  display:none;
}